<%= form_with(model: comment) do |form| %>
  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_area :message, class: 'comment__input-area' %>
    <%= form.hidden_field :article_id, value: article.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit 'Share your thoughts', class: 'form__submit', style: 'margin-top: 16px' %>
  </div>
<% end %>
