<article id="<%= dom_id article %>" class="<%= leading ? 'article--preview--leading' : 'article--preview' %>">
    <%= link_to article do %>
        <h3 class="article__title--preview"><%= article.title %></h3>
        <p class="article__published_at--preview"><%= published_at(article) %></p>
        <%= render 'food_reviews/preview', food_review: article.food_review if article.is_food_review? %>
        <div id="article__cover-image-container--preview">
            <% if article.cover_image.attached? %>
                <%= image_tag article.cover_image.variant(resize_to_fill: leading ? [960, 300] : [470, 200]), class: 'article__cover-image' %>
            <% else %>
                <div class="article__cover-image-container--preview__colour-field<%= leading ? '--leading' : ''%>" 
                    <%= article_background_colour(article) %>></div>
            <% end %>
        </div>
        <p class="article--preview__exerpt"><%= "#{article.exerpt}..." if article.exerpt.length > 0 %></p>
    <% end %>
    <%= render 'options_menu', menu_options: article_modify_links(article) if user_permissions_for_article(article) %>
</article>